.hpbackground{
    height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
    flex-direction: column;
}

.logoUI{
    height: 30vh;
}

.script{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footpage img{
    height: 100px;
}