.container {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100vh;
    width: 100%;
}

.mini-container {
    /* background-color: aqua; */
    /* margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 70px 0; */
    display: flex;
    justify-content: center;
    margin-right: 5%;

}

.mini-page {
    /* background-color: yellowgreen; */
    margin: auto;
    width: 80%;
    /* border: 3px solid green; */
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    height: 60%;
    box-shadow: 10% 2%;
    /* grid-template-columns: auto; */
}

.recommended-layout {
    display: flex;
    flex-direction: row;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
   
    
}

/* .mini-page {
    background-color: yellowgreen;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 60%;
    box-shadow: 10% 2%;
} */

#color-page {
    padding: 10%;
    border-radius: 2%;
    border: 1px solid rgb(182, 181, 181);
    background-color: rgb(234, 234, 229);
}

.layout-cell {
    background-color: aqua;
    width: 30%;
}

.color-palette {
    display: grid;
    grid-template-rows: 30% 25% 15% 15% 15%;
    height: 100%;
    margin-top: 2%;
    margin-left: 2%;
    
}

#cell-1 {
    border-top-left-radius: 10%;
}

.color-name {
    margin-top: 10%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}
